<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} || Ground Zero</title>

    {% load static %}
    <link href="{% static 'core/css/footer.css'%}"  rel="stylesheet" >    
    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/productos.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>


  <body class="back">
<!-- NAVBAR -->
<div class="fixed-top">
  <nav class="navbar navbar-dark fixed-top" style="background-color: black;">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'core/logo/logoSoloNegativo.png' %}" alt="Logo" width="30" height="30"
              class="d-inline-block align-text-top">
            Grupo cero°
          </a>
        </div>

        <div class="ml-auto mr-10">
          <div class="navbar-collapse">
            {% if user.is_authenticated %}
            <p class="nav-link" style="color: #F06BF2;">Estás iniciado como: {{ user.nombre }}</p>
            {% endif %}
          </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: black;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="color: #F06BF2;">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ver_carrito' %}">Carrito</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              {% if user.email == 'pruebamailsnoreply@gmail.com' %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registered_users' %}">Administración de usuarios</a>
              </li>
              {% endif %}
              <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
              <p class="nav-link" style="color: #F06BF2;">Bienvenido, {{ user.nombre }}</p>
              {% else %}
              <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
{% block content %}{% endblock content %}

  <!-- FOOTER -->
    <footer class="footer-section">
      <div class="container">
        <div class="footer-cta pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-map-marker-alt"></i>
                <div class="cta-text">
                  <h4>Ubicaci&oacute;n</h4>
                  <span>Antonio Varas 666</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-phone"></i>
                <div class="cta-text">
                  <h4>Tel&eacute;fono</h4>
                  <span>+56 9 6666 6666</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="far fa-envelope-open"></i>
                <div class="cta-text">
                  <h4>Correo</h4>
                  <span>grupo.cero@gmail.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-content pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-logo">
                  <a href="index.html"><img src="{% static 'core/logo/LogoHorizontalNegativo.png'%}" class="img-fluid" alt="logo"></a>
                </div>
                <div class="footer-text">
                  <p>Grupo de artistas pl&aacute;sticos dedicados a la pintura, escultura, orfebrer&iacute;a, tejido y otras expresiones 
                    art&iacute;sticas.</p>
                </div>
                <div class="footer-social-icon">
                  <span>S&iacute;guenos</span>
                  <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                  <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Enlaces &uacute;tiles</h3>
                </div>
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>            
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Subscr&iacute;bete</h3>
                </div>
                <div class="footer-text mb-25">
                  <p>Subscr&iacute;bete para recibir actualizaciones de las obras que se suben</p>
                </div>
                <div class="subscribe-form">
                  <form action="#">
                    <input type="text" placeholder="Email Address">
                    <button><i class="fab fa-telegram-plane"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
              <div class="copyright-text">
                <p>Copyright &copy; 2023, Todos los derechos reservados <a href="{% url 'home' %}">Grupo cero</a></p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
              <div class="footer-menu">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- FIN FOOTER-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'core/js/tail.js' %}"></script>
      <script src="https://cdn.tailwindcss.com"></script>    
    
    <script src="https://kit.fontawesome.com/5d7952c473.js" crossorigin="anonymous"></script>
  </body>

</html>
