{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'core/css/registro.css'%}" rel="stylesheet">

<br>

<div class="container">
  <h2 class="text-center" style="margin-top: 50px; font-size: 30px; margin-bottom: 10px;">Registro de Usuario</h2>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form method="post" class="user-registration-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email:</label>
          {{ form.email }}
          <div class="error-message">
            {{ form.email.errors }}
          </div>
        </div>

        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
          <div class="input-field">
            {{ form.password1 }}
            <div class="password-requirements">
              <ul>
                <li>Debe contener al menos 8 caracteres.</li>
                <li>Debe contener al menos una letra mayúscula y una minúscula.</li>
                <li>Debe contener al menos un número.</li>
                <li>Puede contener caracteres especiales.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
          {{ form.password2 }}
          <div class="password-requirements2">
            <ul>
              <li>Debe ser igual a la contraseña de arriba, de no ser así, ambas quedarán en blanco.</li>
            </ul>
            <div class="error-message">
              {% if form.errors.password2 %}
                {% for error in form.errors.password2 %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
          {{ form.nombre }}
        </div>
        <div class="form-group">
          <label for="{{ form.rut.id_for_label }}">RUT:</label>
          {{ form.rut }}
          <div class="error-message">
            {{ form.rut.errors }}
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
          {{ form.direccion }}
        </div>
        <div class="form-group">
          <label for="{{ form.pais.id_for_label }}">País:</label>
          {{ form.pais }}
        </div>
        <div class="form-group">
          <label for="{{ form.codigo_postal.id_for_label }}">Código Postal:</label>
          {{ form.cp }}
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="submit-button"
        style="margin-bottom: 30px;">Registrarse</button>
      </form>
    </div>  
    <div class="col-lg-6 mt-4 mt-lg-0">
      <img src="{% static 'core/logo/back_imagen.png' %}" class="img-fluid" alt="...">
    </div>
  </div>
</div>

<style>
  .image-container {
    margin-left: auto;
  }

  @media (max-width: 767px) {
    .col-lg-6 {
      margin-bottom: 20px;
    }
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {

    const passwordField = $('#id_password1');
    const passwordField2 = $('#id_password2');
    const passwordRequirements = $('.password-requirements');
    const passwordRequirements2 = $('.password-requirements2');

    passwordRequirements.hide();
    passwordRequirements2.hide();

    passwordField.focus(function() {
      passwordRequirements.show();
    });

    passwordField.blur(function() {
      passwordRequirements.hide();
    });

    passwordField2.focus(function() {
      passwordRequirements2.show();
    });

    passwordField2.blur(function() {
      passwordRequirements2.hide();
    });
  });
</script>


{% endblock %}
