{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <br>
  <br>
  <br>
  
  <h1>Editar Usuario</h1>
  <form method="POST" class="my-4">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_nombre">Nombre:</label>
      <input type="text" name="nombre" id="id_nombre" value="{{ form.nombre.value|default:'' }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_rut">RUT:</label>
      <input type="text" name="rut" id="id_rut" value="{{ form.rut.value|default:'' }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_direccion">Dirección:</label>
      <input type="text" name="direccion" id="id_direccion" value="{{ form.direccion.value|default:'' }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_pais">País:</label>
      <input type="text" name="pais" id="id_pais" value="{{ form.pais.value|default:'' }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_admin">Admin:</label>
      <input type="checkbox" name="admin" id="id_admin" {% if form.admin.value %}checked{% endif %} class="form-check-input">
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'registered_users' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
